.progress-bar-container {
    margin: 40px;
    width: 100px;
    height: 100px;
    position: relative;
}

.time-of-check {
    font-family: Arial, Helvetica;
    font-size: 0.6rem;
    font-weight: 400;
    color: dimgrey;
    display:table;
    margin:0 auto;
}

.device-model-info {
    font-family: Arial, Helvetica;
    font-size: 0.8rem;
    font-weight: 700;
    color: darkturquoise;
    display:table;
    margin:0 auto;
}

.battery-card-status.mdl-card {
    width: 256px;
    height: 256px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    background: #F8F8E8;
}
.battery-card-status > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.battery-card-status > .mdl-card__title {
    align-items: flex-start;
    margin-left: 22px;
}
.battery-card-status > .mdl-card__title > h4 {
    margin-top: 0;    
}
.battery-card-status > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.battery-card-status > .mdl-card__actions > .material-icons {
    padding-right: 10px;
    padding-bottom: 15px;
    font-size: 24px;
    color: #E0E0E0;
}

.battery-card-status > .mdl-card__title,
.battery-card-status > .mdl-card__actions,
.battery-card-status > .mdl-card__actions > .mdl-button {
    color: #555;
}

.mdl-layout__header-row span {
    margin-left: 15px;
    margin-top: 17px;
}

.mdl-grid {
    max-width: 1024px;
    margin: auto;
}

.material-icons {
    font-size: 36px;
    top: 4px;
    position: relative;
}

.mdl-layout__header-row {
    padding: 0;
    margin: 0 auto;
}

#user-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 22px;
    width: 100%;
    right: 0;
    padding-left: 10px;
    justify-content: flex-end;
    padding-right: 10px;
}
#user-container #user-pic {
    top: -3px;
    position: relative;
    display: inline-block;
    background-image: url('../images/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
}
#user-container #user-name {
    font-size: 16px;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 20px;
}

#mediaCapture {
    display: none;
}
@media screen and (max-width: 610px) {
    header {
        height: 113px;
        padding-bottom: 80px !important;
    }
    #user-container {
        top: 72px;
        background-color: rgb(3,155,229);
        height: 38px;
        padding-top: 3px;
        padding-right: 2px;
    }
    #user-container #user-pic {
        top: 2px;
        width: 33px;
        height: 33px;
        background-size: 33px;
    }
}
.mdl-textfield__label:after {
    background-color: #0288D1;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #0288D1;
}
.mdl-button .material-icons {
    top: -1px;
    margin-right: 5px;
}